 
 <div class="container">
    <div class="row">
 <div class="col-md-3 col-12">
 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.kindpng.com/picc/m/424-4244022_sergio-ramos-render-real-madrid-sergio-ramos-png.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
 
 <div class="col-md-3 col-12">
 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.pngmart.com/files/22/Messi-PNG-Image.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
 </div>
 
 <div class="col-md-3 col-12">
 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.pngmart.com/files/22/Messi-PNG-Image.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
 </div>
 
 <div class="col-md-3 col-12">
 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.kindpng.com/picc/m/424-4244022_sergio-ramos-render-real-madrid-sergio-ramos-png.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
 </div>

</div>
 </div>